<<<<<<< HEAD
.input {
    background: #323232;
    border: none;
    padding: 10px 20px;
    width: 200px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
}
=======
.input{
    background:#323232;
    border: none;
    padding: 10px 20px;
    width: 200px;
    color:#fff;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
}
>>>>>>> 20ffaefbf0b561d1337f5c084e1de18ddb08d973
